@model humber_http_5226_collaborative_project.Models.CourierLicenseDto

@{
    ViewBag.Title = "Courier License Details";
    //Layout = "~/Views/Shared/_Layout.cshtml"; (add layout file??)
}

<h2>@ViewBag.Title</h2>

<div class="details-panel">
    <dl class="dl-horizontal">
        <dt>Vehicle Type</dt>
        <dd>@Html.DisplayFor(model => model.VehicleType)</dd>

        <dt>Valid</dt>
        <dd>@Html.DisplayFor(model => model.IsValid)</dd>

        <dt>Available</dt>
        <dd>@Html.DisplayFor(model => model.IsAvailable)</dd>

        <dt>Issue Date</dt>
        <dd>@Html.DisplayFor(model => model.IssueDate, "{0:yyyy-MM-dd}")</dd>
    </dl>

    <div class="buttons">
        @Html.ActionLink("Edit", "Edit", new { id = Model.CourierLicenseId }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.CourierLicenseId }, new { @class = "btn btn-danger" })
    </div>
</div>


