@model humber_http_5226_collaborative_project.Models.OrderDto

@{
    ViewBag.Title = "Order Details";
    //Layout = "~/Views/Shared/_Layout.cshtml"; (add layout file??)
}

<h2>@ViewBag.Title</h2>

<div class="details-panel">
    <dl class="dl-horizontal">
        <dt>Order ID</dt>
        <dd>@Html.DisplayFor(model => model.OrderId)</dd>

        <dt>Cafe</dt>
        <dd>@Html.DisplayFor(model => model.Cafe.Name)</dd>

        <dt>Courier License ID</dt>
        <dd>@Html.DisplayFor(model => model.CourierLicenseId)</dd>

        <dt>Status</dt>
        <dd>@Html.DisplayFor(model => model.Status)</dd>

        <dt>Created At</dt>
        <dd>@Html.DisplayFor(model => model.CreatedAt, "{0:yyyy-MM-dd}")</dd>
    </dl>

    <div class="buttons">
        @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.OrderId }, new { @class = "btn btn-danger" })
    </div>
</div>

