@model humber_http_5226_collaborative_project.Models.Cafe

@{
    ViewBag.Title = "Cafe Details";
    //Layout = "~/Views/Shared/_Layout.cshtml"; (Add layout??)
}

<h2>@Html.DisplayFor(model => model.Name) Details</h2>

<div class="cafe-details">
    <h3>Cafe Information</h3>
    <dl class="dl-horizontal">
        <dt>Address</dt>
        <dd>@Html.DisplayFor(model => model.Address)</dd>

        <dt>Phone</dt>
        <dd>@Html.DisplayFor(model => model.Phone)</dd>

        <dt>Description</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>

        <dt>Website</dt>
        <dd><a href="@Model.Website" target="_blank">@Model.Website</a></dd>
    </dl>
</div>

<div class="cafe-menu">
    <h3>Menu Items</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Menu)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="cafe-orders">
    <h3>Recent Orders</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.OrderId</td>
                    <td>@order.CreatedAt.ToString("yyyy-MM-dd")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="buttons">
    @Html.ActionLink("Edit Cafe", "Edit", new { id = Model.CafeId }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Delete Cafe", "DeleteConfirm", new { id = Model.CafeId }, new { @class = "btn btn-danger" })
</div>
