@model humber_http_5226_collaborative_project.Models.CafeDto

@{
    ViewBag.Title = "Edit";
}

<h2>Update Cafe</h2>
<form action="/Cafe/Update/@Model.CafeId" method="POST">
    <div>
        <input type="text" name="CafeId" value="@Model.CafeId" />
    </div>
    <div>
        <label>Name:</label> <input type="text" name="Name" value="@Model.Name" />
    </div>
    <div>
        <label>Address:</label> <input type="text" name="Address" value="@Model.Address" />
    </div>
    <div>
        <label>OverpassId:</label> <input type="text" name="OverpassId" value="@Model.OverpassId" />
    </div>
    <div>
        <label>Latitude:</label> <input type="text" name="Latitude" value="@Model.Latitude" />
    </div>
    <div>
        <label>Longitude:</label> <input type="text" name="Longitude" value="@Model.Longitude" />
    </div>
    <div>
        <label>Phone:</label> <input type="text" name="Phone" value="@Model.Phone" />
    </div>
    <div>
        <label>Description:</label> <input type="text" name="Description" value="@Model.Description" />
    </div>
    <div>
        <label>Website:</label> <input type="text" name="Website" value="@Model.Website" />
    </div>
    <div>
        <input type="submit" value="Update Cafe" />
    </div>

</form>
